PORT=3001
MONGODB_URI=mongodb://localhost:27017/vedaai
REDIS_URL=redis://localhost:6379
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
CLAUDE_API_KEY=your_key_here
FRONTEND_URL=http://localhost:3000
SCHOOL_NAME=VedaAI Public School
BACKEND_RUNTIME_MODE=server
